<div class="webhook-logs" *ngIf="selectedWebhook$ | async as webhook">
  <div class="header">
    <p-button 
      icon="pi pi-arrow-left" 
      [text]="true" 
      [rounded]="true"
      (onClick)="back()">
    </p-button>
    <h2>Webhook Logs: {{ webhook.url }}</h2>
  </div>

  <p-card *ngIf="logs$ | async as logs; else loading">
    <p-table 
      [value]="logs" 
      dataKey="log_id"
      styleClass="p-datatable-striped"
      [tableStyle]="{'min-width': '50rem'}">
      
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th>Timestamp</th>
          <th>Event Type</th>
          <th style="width: 120px">Status Code</th>
          <th style="width: 140px">Response Time</th>
          <th style="width: 120px">Status</th>
          <th style="width: 100px">Retries</th>
        </tr>
      </ng-template>
      
      <ng-template pTemplate="body" let-log let-expanded="expanded">
        <tr [class.error-row]="!log.success">
          <td>
            <p-button 
              type="button"
              [pRowToggler]="log"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
              [text]="true"
              [rounded]="true">
            </p-button>
          </td>
          <td>{{ log.timestamp | date:'short' }}</td>
          <td>
            <p-chip [label]="log.event_type"></p-chip>
          </td>
          <td>{{ log.status_code }}</td>
          <td>{{ log.response_time_ms }}ms</td>
          <td>
            <p-chip 
              [label]="log.success ? 'Success' : 'Failed'" 
              [styleClass]="log.success ? 'chip-success' : 'chip-danger'">
            </p-chip>
          </td>
          <td>{{ log.retry_count }}</td>
        </tr>
      </ng-template>
      
      <ng-template pTemplate="rowexpansion" let-log>
        <tr>
          <td colspan="7">
            <div class="log-details">
              <div class="detail-section">
                <h4>Request Details</h4>
                <div class="detail-row">
                  <span class="label">URL:</span>
                  <span class="value">{{ log.url }}</span>
                </div>
                <div class="detail-row">
                  <span class="label">Method:</span>
                  <span class="value">{{ log.method || 'POST' }}</span>
                </div>
                <div class="detail-row" *ngIf="log.request_headers">
                  <span class="label">Headers:</span>
                  <pre class="value">{{ log.request_headers | json }}</pre>
                </div>
                <div class="detail-row" *ngIf="log.request_body">
                  <span class="label">Body:</span>
                  <pre class="value">{{ log.request_body | json }}</pre>
                </div>
              </div>
              
              <div class="detail-section">
                <h4>Response Details</h4>
                <div class="detail-row">
                  <span class="label">Status Code:</span>
                  <span class="value">{{ log.status_code }}</span>
                </div>
                <div class="detail-row">
                  <span class="label">Response Time:</span>
                  <span class="value">{{ log.response_time_ms }}ms</span>
                </div>
                <div class="detail-row" *ngIf="log.response_body">
                  <span class="label">Response Body:</span>
                  <pre class="value">{{ log.response_body }}</pre>
                </div>
                <div class="detail-row" *ngIf="log.error_message">
                  <span class="label">Error Message:</span>
                  <span class="value error-text">{{ log.error_message }}</span>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </ng-template>
      
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">
            <div class="no-data">
              <i class="pi pi-history" style="font-size: 3rem"></i>
              <p>No delivery logs found</p>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <ng-template #loading>
    <app-loading-spinner message="Loading logs..."></app-loading-spinner>
  </ng-template>
</div>
