<nav class="vp-sidebar">
  <div class="nav-section">
    <span class="nav-label">Main</span>
    <ul class="nav-list">
      <li *ngFor="let item of visibleNavItems" class="nav-item" [class.active]="isActiveRoute(item.route)">
        <a [routerLink]="item.route" (click)="onNavItemClicked()">
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="nav-section" *ngIf="showAdminSection">
    <span class="nav-label">Administration</span>
    <ul class="nav-list">
      <li class="nav-item" [class.active]="isActiveRoute('/admin')">
        <a routerLink="/admin" (click)="onNavItemClicked()">
          <i class="pi pi-users"></i>
          <span>Admin</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="sidebar-footer">
    <div class="env-badge">
      <span class="env-dot"></span>
      <span>Development</span>
    </div>
  </div>
</nav>