mat-dialog-content {
  min-width: 300px;
  
  p {
    margin-bottom: 16px;
  }
  
  .confirmation-field {
    width: 100%;
  }
}

mat-dialog-actions {
  padding: 16px 0 0 0;
  
  button {
    margin-left: 8px;
  }
}
