<header class="vp-toolbar">
  <div class="toolbar-left">
    <button *ngIf="showMenuButton" class="nav-toggle" (click)="onMenuToggle()" aria-label="Toggle menu">
      <i class="pi pi-bars"></i>
    </button>

    <a routerLink="/dashboard" class="brand">
      <div class="brand-logo">
        <i class="pi pi-shield"></i>
      </div>
      <span class="brand-name">VeraProof<span class="brand-accent">AI</span></span>
    </a>

    <nav class="breadcrumbs" aria-label="breadcrumb">
      <ol>
        <li *ngFor="let crumb of breadcrumbs$ | async; let last = last" [class.active]="last">
          <a *ngIf="!last" [routerLink]="crumb.url">{{ crumb.label }}</a>
          <span *ngIf="last">{{ crumb.label }}</span>
          <i *ngIf="!last" class="pi pi-chevron-right sep"></i>
        </li>
      </ol>
    </nav>
  </div>

  <div class="toolbar-right">
    <button class="user-btn" (click)="userMenu.toggle($event)" aria-label="User menu">
      <i class="pi pi-user"></i>
    </button>

    <p-menu #userMenu [model]="userMenuItems" [popup]="true" appendTo="body">
      <ng-template pTemplate="start">
        <div class="user-menu-head">
          <div class="user-avatar">
            <i class="pi pi-user"></i>
          </div>
          <div class="user-info">
            <span class="user-email">{{ userEmail$ | async }}</span>
            <span class="user-role">Partner</span>
          </div>
        </div>
        <p-divider></p-divider>
      </ng-template>
    </p-menu>
  </div>
</header>