<header class="vp-toolbar">
  <div class="toolbar-left">
    <button *ngIf="showMenuButton" type="button" class="nav-toggle" [class.active]="menuOpen" (click)="onMenuToggle()" aria-label="Toggle menu" [attr.aria-expanded]="menuOpen">
      <i class="pi pi-bars"></i>
    </button>

    <a [routerLink]="brandRoute$ | async" class="brand">
      <div class="brand-logo">
        <i class="pi pi-shield"></i>
      </div>
      <span class="brand-name">VeraProof<span class="brand-accent">AI</span></span>
    </a>

    <nav class="breadcrumbs" aria-label="breadcrumb">
      <ol>
        <li *ngFor="let crumb of breadcrumbs$ | async; let last = last" [class.active]="last">
          <a *ngIf="!last" [routerLink]="crumb.url">{{ crumb.label }}</a>
          <span *ngIf="last">{{ crumb.label }}</span>
          <i *ngIf="!last" class="pi pi-chevron-right sep"></i>
        </li>
      </ol>
    </nav>
  </div>

  <div class="toolbar-right">
    <ng-container *ngIf="showEnvironmentSwitcher$ | async">
      <div class="environment-switcher" *ngIf="(availableEnvironments$ | async) as environments">
        <span class="switcher-label">Environment</span>
        <div class="switcher-segment" *ngIf="(activeEnvironment$ | async) as activeEnvironment">
          <button
            *ngFor="let environment of environments"
            type="button"
            class="segment-option"
            [class.active]="isEnvironmentActive(activeEnvironment, environment)"
            [class.billable]="environment.is_billable"
            [disabled]="switchingEnvironment"
            (click)="onSelectEnvironment(environment)">
            <span class="segment-title">{{ environment.display_name }}</span>
            <span class="segment-meta">{{ environment.monthly_quota | number }} quota</span>
          </button>
        </div>
      </div>
    </ng-container>

    <button class="user-btn" (click)="userMenu.toggle($event)" aria-label="User menu">
      <i class="pi pi-user"></i>
    </button>

    <p-menu #userMenu [model]="userMenuItems" [popup]="true" appendTo="body">
      <ng-template pTemplate="start">
        <div class="user-menu-head">
          <div class="user-avatar">
            <i class="pi pi-user"></i>
          </div>
          <div class="user-info">
            <span class="user-email">{{ userEmail$ | async }}</span>
            <span class="user-role">{{ userRoleLabel$ | async }}</span>
          </div>
        </div>
        <p-divider></p-divider>
      </ng-template>
    </p-menu>
  </div>
</header>

