.table-container {
  width: 100%;
  
  .search-field {
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
  }
  
  .table-wrapper {
    overflow-x: auto;
    
    ::ng-deep {
      .p-datatable {
        .clickable-row {
          cursor: pointer;
          transition: background-color 0.2s;
          
          &:hover {
            background-color: var(--surface-hover);
          }
        }
      }
    }
  }
}
